{{> header}}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5"> <img src="/images/icon.png" width="50"> </div>
                <div class="invoice p-5">
                    <h5>Orden confirmada!</h5> <span class="font-weight-bold d-block mt-4">Hola, {{cart/firstName}}</span> <span>Tu orden ha sido confirmada, sera enviada en los siguientes dias!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Fecha de la orden:</span> <span>{{date}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Orden numero:</span> <span>{{charge/id}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Meto de Pago</span> <span>{{payment_method_details/card/brand}} </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Direccion de envio:</span> <span>{{cart/address}}</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td width="20%"> <img src="{{product/image}}" width="90"> </td>
                                    <td width="60%"> <span class="font-weight-bold">{{product/title}}</span>
                                        <div class="product-qty"> <span class="d-block">Cantidad: {{quantity}}</span> <span>{{product/description}}</span> </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">${{product/price}}</span> </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">

                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">${{total}}</span> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>Enviaremos un correo electrónico de confirmación del envío cuando el artículo se haya enviado correctamente.</p>
                    <p class="font-weight-bold mb-0">Gracias por comprar con nosotros.</p> <span>La casa del metronomo</span>
                </div>
                {{!-- <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a href="#"> help center</a></span> <span>12 June, 2020</span> </div> --}}
            </div>
        </div>
    </div>
</div>

{{> footer}}